Repository bdchauvette/icw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

feat: add take and takeWhile
  src/ICW.ts
  src/index.ts
  src/take.ts
  src/takeWhile.ts
  test/ICW.spec.js
  test/suites/runTakeSuite.js
  test/suites/runTakeWhileSuite.js
  test/take.spec.js
  test/takeWhile.spec.js
Due: eslint

chore: fix lint-staged config for prettier
  .lintstagedrc.json
Due: prettier

fix: linting problems
  .eslintrc.json
  tsconfig.test.json
Due: prettier

feat: add skip and skipWhile
  src/ICW.ts
  src/index.ts
  src/skip.ts
  src/skipWhile.ts
  test/ICW.spec.js
  test/skip.spec.js
  test/skipWhile.spec.js
  test/suites/runSkipSuite.js
  test/suites/runSkipWhileSuite.js
Due: eslint

feat: add explicit function return types
  .eslintrc.json
  src/ICW.ts
  src/filter.ts
  src/from.ts
  src/map.ts
  src/of.ts
  src/reject.ts
  src/scan.ts
  src/skip.ts
  src/skipWhile.ts
  src/take.ts
  src/takeWhile.ts
  src/tap.ts
  src/withIndex.ts
  test/ICW.spec.js
  test/suites/runFromSuite.js
Due: eslint, prettier

refactor: export async generator functions
  src/filter.ts
  src/map.ts
  src/of.ts
  src/reject.ts
  src/scan.ts
  src/skipWhile.ts
  src/takeWhile.ts
  src/tap.ts
  src/withIndex.ts
Due: eslint

feat: add collect
  src/ICW.ts
  src/collect.ts
  src/index.ts
  test/ICW.spec.js
  test/collect.spec.js
  test/suites/runCollectSuite.js
Due: eslint

test: break apart tests for ICW prototype methods
  test/ICW.spec.js
Due: eslint

feat: add toArray and toPromise
  src/ICW.ts
  src/index.ts
  src/toArray.ts
  src/toPromise.ts
  test/ICW.spec.js
  test/suites/runToArraySuite.js
  test/suites/runToPromiseSuite.js
  test/toArray.spec.js
  test/toPromise.spec.js
Due: eslint

refactor: simplify from
  src/from.ts
Due: eslint

feat: always delegate to iterable in from
  src/from.ts
  test/from.spec.js
Due: eslint

feat: remove comments and improve return types
  src/ICW.ts
  src/collect.ts
  src/filter.ts
  src/from.ts
  src/map.ts
  src/of.ts
  src/reject.ts
  src/scan.ts
  src/skip.ts
  src/skipWhile.ts
  src/take.ts
  src/takeWhile.ts
  src/tap.ts
  src/toPromise.ts
  src/withIndex.ts
Due: eslint

refactor: simplify skip and take
  src/skip.ts
  src/take.ts
Due: eslint

test: improve eager / lazy checks
  test/suites/runCollectSuite.js
  test/suites/runDrainSuite.js
  test/suites/runFilterSuite.js
  test/suites/runForEachSuite.js
  test/suites/runMapSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
  test/suites/runSkipSuite.js
  test/suites/runSkipWhileSuite.js
  test/suites/runTakeSuite.js
  test/suites/runTakeWhileSuite.js
  test/suites/runTapSuite.js
  test/suites/runToArraySuite.js
  test/suites/runToPromiseSuite.js
  test/suites/runWithIndexSuite.js
Due: eslint

feat: convert ICW to an AsyncIterableIterator
  src/ICW.ts
Due: eslint

test: remove type-checking tests
  jest.config.js
  test/@types/jest.d.ts
  test/ICW.spec.js
  test/hooks/setupTestFramework.js
  test/suites/runCollectSuite.js
  test/suites/runDrainSuite.js
  test/suites/runFilterSuite.js
  test/suites/runForEachSuite.js
  test/suites/runFromSuite.js
  test/suites/runMapSuite.js
  test/suites/runOfSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
  test/suites/runSkipSuite.js
  test/suites/runSkipWhileSuite.js
  test/suites/runTakeSuite.js
  test/suites/runTakeWhileSuite.js
  test/suites/runTapSuite.js
  test/suites/runToArraySuite.js
  test/suites/runToPromiseSuite.js
  test/suites/runWithIndexSuite.js
Due: eslint

test: move jest hooks to __hooks__ folder
  jest.config.js
  test/__hooks__/globalSetup.js
Due: eslint

test: add tests for iterator sameness
  jest.config.js
  test/@types/jest.d.ts
  test/ICW.spec.js
  test/__hooks__/setupTestFramework.js
  test/suites/runCollectSuite.js
  test/suites/runFilterSuite.js
  test/suites/runFromSuite.js
  test/suites/runMapSuite.js
  test/suites/runOfSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
  test/suites/runSkipSuite.js
  test/suites/runSkipWhileSuite.js
  test/suites/runTakeSuite.js
  test/suites/runTakeWhileSuite.js
  test/suites/runTapSuite.js
  test/suites/runWithIndexSuite.js
  tsconfig.json
Due: eslint, prettier

test: remove JEST_ENV var
  jest.config.js
  package.json
Due: eslint, prettier

chore: remove "quotes" eslint rule
  .eslintrc.json
Due: prettier

test: improve test suite for ICW
  test/ICW.spec.js
Due: eslint

chore: run tests as pre-commit hook
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier

chore: remove postinstall-build during `npm pack`
  .eslintrc.json
  .gitignore
  package.json
  scripts/clean.js
  scripts/prepare-package.json.js
  scripts/restore-package-json.js
  tsconfig.prod.json
Due: eslint, prettier

chore: run tests on pre-push instead of pre-commit
  .huskyrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

docs: update perf section of README
  README.md
Due: prettier

test: fix linting override for tests
  .eslintrc.json
Due: prettier

test: add tests for custom matchers
  jest.config.js
  test/__hooks__/setupTestFramework.js
  test/matchers/toReturnSameAsyncIterator.js
  test/matchers/toReturnSameAsyncIterator.spec.js
Due: eslint

test: add toBeCloseableAsyncIterator matcher
  test/@types/jest.d.ts
  test/__hooks__/setupTestFramework.js
  test/matchers/toBeCloseableAsyncIterator.js
  test/matchers/toBeCloseableAsyncIterator.spec.js
Due: eslint

test: add matchers for eager and lazy consumption
  test/@types/jest.d.ts
  test/__hooks__/setupTestFramework.js
  test/matchers/__snapshots__/toEagerlyConsumeWrappedAsyncIterable.spec.js.snap
  test/matchers/__snapshots__/toEagerlyConsumeWrappedIterable.spec.js.snap
  test/matchers/__snapshots__/toLazilyConsumeWrappedAsyncIterable.spec.js.snap
  test/matchers/__snapshots__/toLazilyConsumeWrappedIterable.spec.js.snap
  test/matchers/toEagerlyConsumeWrappedAsyncIterable.js
  test/matchers/toEagerlyConsumeWrappedAsyncIterable.spec.js
  test/matchers/toEagerlyConsumeWrappedIterable.js
  test/matchers/toEagerlyConsumeWrappedIterable.spec.js
  test/matchers/toLazilyConsumeWrappedAsyncIterable.js
  test/matchers/toLazilyConsumeWrappedAsyncIterable.spec.js
  test/matchers/toLazilyConsumeWrappedIterable.js
  test/matchers/toLazilyConsumeWrappedIterable.spec.js
Due: eslint

fix: don't pass iterable to map callback
  src/map.ts
Due: eslint

test: massively refactor tests
  test/helpers/identity.js
  test/helpers/isEven.js
  test/helpers/isTruthy.js
  test/helpers/isTruthySync.js
  test/helpers/noop.js
  test/helpers/noopSync.js
  test/helpers/sum.js
  test/helpers/sumSync.js
  test/helpers/toAsync.js
  test/helpers/toUpperCase.js
  test/helpers/toUpperCaseSync.js
  test/suites/runCollectSuite.js
  test/suites/runDrainSuite.js
  test/suites/runFilterSuite.js
  test/suites/runForEachSuite.js
  test/suites/runFromSuite.js
  test/suites/runMapSuite.js
  test/suites/runOfSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
  test/suites/runSkipSuite.js
  test/suites/runSkipWhileSuite.js
  test/suites/runTakeSuite.js
  test/suites/runTakeWhileSuite.js
  test/suites/runTapSuite.js
  test/suites/runToArraySuite.js
  test/suites/runToPromiseSuite.js
  test/suites/runWithIndexSuite.js
Due: eslint

build: remove pre-push hook
  .huskyrc.json
  CONTRIBUTING.md
Due: prettier

chore: remove stryker
  .gitignore
  package-lock.json
  package.json
  scripts/clean.js
Due: eslint, prettier

build: replace postinstall-build with prepare script
  package.json
  scripts/prepare-package.json.js
  scripts/restore-package-json.js
Due: eslint, prettier

chore: remove buildDependencies field
  package.json
Due: prettier

chore: upgrade deps
  package-lock.json
  package.json
Due: prettier

style: update eslint config and fix issues
  .eslintignore
  .eslintrc.json
  test/ICW.spec.js
  test/matchers/toEagerlyConsumeWrappedAsyncIterable.spec.js
  test/matchers/toEagerlyConsumeWrappedIterable.spec.js
  test/matchers/toLazilyConsumeWrappedAsyncIterable.spec.js
  test/matchers/toLazilyConsumeWrappedIterable.spec.js
  test/suites/runCollectSuite.js
  test/suites/runFilterSuite.js
  test/suites/runForEachSuite.js
  test/suites/runFromSuite.js
  test/suites/runMapSuite.js
  test/suites/runOfSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
  test/suites/runSkipSuite.js
  test/suites/runSkipWhileSuite.js
  test/suites/runTakeSuite.js
  test/suites/runTakeWhileSuite.js
  test/suites/runTapSuite.js
  test/suites/runToArraySuite.js
  test/suites/runToPromiseSuite.js
  test/suites/runWithIndexSuite.js
Due: eslint, prettier

chore: remove stryker.conf.js
  stryker.conf.js
Due: eslint

style: update .eslintignore
  .eslintignore
Due: none

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{json,md,yml}
