Repository bdchauvette/icw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests, prettier --list-different

feat: internalize `from`
  src/__internal__/toIterable.ts
  src/concat.ts
  src/drain.ts
  src/first.ts
  src/flat.ts
  src/from.ts
  src/includes.ts
  src/index.ts
  src/intersperse.ts
  src/last.ts
  src/skip.ts
  src/skipLast.ts
  src/tail.ts
  src/take.ts
  src/takeLast.ts
  src/toArray.ts
  src/withIndex.ts
  test/__snapshots__/from.spec.js.snap
  test/from.spec.js
  test/index.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

docs: update description and keywords
  package.json
Due: prettier --list-different

chore(plop): add error tests to plop templates
  plop/templates/iterator-fn-spec.hbs
  plop/templates/promise-fn-spec.hbs
Due: none

build(scripts): organize npm scripts
  package.json
Due: prettier --list-different

build(scripts): fix linting scripts
  package.json
Due: prettier --list-different

chore(plop): fix plop template imports
  plop/templates/iterator-fn.hbs
  plop/templates/promise-fn.hbs
Due: none

feat: add uniq
  src/index.ts
  src/uniq.ts
  test/index.spec.js
  test/uniq.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add uniqBy
  src/__internal__/identity.ts
  src/index.ts
  src/uniq.ts
  src/uniqBy.ts
  test/index.spec.js
  test/uniqBy.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add uniqWith
  src/index.ts
  src/uniqWith.ts
  test/index.spec.js
  test/uniqWith.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add uniq, uniqBy, and uniqWith (#62)
  src/__internal__/identity.ts
  src/index.ts
  src/uniq.ts
  src/uniqBy.ts
  src/uniqWith.ts
  test/index.spec.js
  test/uniq.spec.js
  test/uniqBy.spec.js
  test/uniqWith.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

style(eslint): allow expressions to not have explicit return types
  .eslintrc.json
Due: prettier --list-different

feat: add zip
  src/index.ts
  src/zip.ts
  test/index.spec.js
  test/zip.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

chore: update deps
  jest.config.js
  package-lock.json
  package.json
Due: eslint, prettier --list-different

Path conditions:
  eslint: any of: *.{js,ts}
  cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests: any of: src/**/*
  prettier --list-different: any of: *.{json,md,yml}
