Repository bdchauvette/icw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests, prettier --list-different

ci: preserve npm cache
  .travis.yml
Due: prettier --list-different

docs: improve CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --list-different

build: create check-node-version script
  jest.config.js
  package-lock.json
  package.json
  scripts/check-node-version.js
  test/__hooks__/globalSetup.js
Due: eslint, prettier --list-different

style: make terminology more consistent
  CONTRIBUTING.md
  src/ICW.ts
  src/collect.ts
  src/filter.ts
  src/forEach.ts
  src/map.ts
  src/reject.ts
  src/scan.ts
  src/skip.ts
  src/skipWhile.ts
  src/take.ts
  src/takeWhile.ts
  src/tap.ts
  src/toPromise.ts
  src/withIndex.ts
  test/suites/runCollectSuite.js
  test/suites/runDrainSuite.js
  test/suites/runFilterSuite.js
  test/suites/runForEachSuite.js
  test/suites/runFromSuite.js
  test/suites/runMapSuite.js
  test/suites/runOfSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
  test/suites/runSkipSuite.js
  test/suites/runSkipWhileSuite.js
  test/suites/runTakeSuite.js
  test/suites/runTakeWhileSuite.js
  test/suites/runTapSuite.js
  test/suites/runWithIndexSuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests, prettier --list-different

test: more test cleanup
  test/suites/runForEachSuite.js
  test/suites/runTakeWhileSuite.js
  test/suites/runTapSuite.js
Due: eslint

feat: add first and head
  src/ICW.ts
  src/first.ts
  src/head.ts
  src/index.ts
  test/ICW.spec.js
  test/first.spec.js
  test/head.spec.js
  test/suites/runFirstSuite.js
  test/suites/runHeadSuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add tail
  src/ICW.ts
  src/index.ts
  src/tail.ts
  test/ICW.spec.js
  test/suites/runTailSuite.js
  test/tail.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add last
  src/ICW.ts
  src/index.ts
  src/last.ts
  test/ICW.spec.js
  test/last.spec.js
  test/suites/runLastSuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add first, last, head and tail (#32)
  src/ICW.ts
  src/first.ts
  src/head.ts
  src/index.ts
  src/last.ts
  src/tail.ts
  test/ICW.spec.js
  test/first.spec.js
  test/head.spec.js
  test/last.spec.js
  test/suites/runFirstSuite.js
  test/suites/runHeadSuite.js
  test/suites/runLastSuite.js
  test/suites/runTailSuite.js
  test/tail.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add reduce
  src/ICW.ts
  src/index.ts
  src/reduce.ts
  test/ICW.spec.js
  test/suites/reduce.spec.js
  test/suites/runReduceSuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add reduce (#33)
  src/ICW.ts
  src/index.ts
  src/reduce.ts
  test/ICW.spec.js
  test/suites/reduce.spec.js
  test/suites/runReduceSuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

style: sort exports in index.ts
  src/index.ts
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

test: move reduce tests to right place
  test/reduce.spec.js
Due: eslint

test: fix imports in reduce suite
  test/reduce.spec.js
Due: eslint

feat: add some
  src/ICW.ts
  src/index.ts
  src/some.ts
  test/ICW.spec.js
  test/some.spec.js
  test/suites/runSomeSuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add some (#34)
  src/ICW.ts
  src/index.ts
  src/some.ts
  test/ICW.spec.js
  test/some.spec.js
  test/suites/runSomeSuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add every
  src/ICW.ts
  src/every.ts
  src/index.ts
  test/ICW.spec.js
  test/every.spec.js
  test/suites/runEverySuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add every (#35)
  src/ICW.ts
  src/every.ts
  src/index.ts
  test/ICW.spec.js
  test/every.spec.js
  test/suites/runEverySuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

refactor: replace fn#call with Reflect.apply
  .eslintrc.json
  src/every.ts
  src/filter.ts
  src/forEach.ts
  src/map.ts
  src/reject.ts
  src/skipWhile.ts
  src/some.ts
  src/takeWhile.ts
  src/tap.ts
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests, prettier --list-different

refactor: replace fn#call with Reflect.apply (#37)
  .eslintrc.json
  src/every.ts
  src/filter.ts
  src/forEach.ts
  src/map.ts
  src/reject.ts
  src/skipWhile.ts
  src/some.ts
  src/takeWhile.ts
  src/tap.ts
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests, prettier --list-different

feat: replace toPromise with firstValue, lastValue and nthValue
  src/ICW.ts
  src/firstValue.ts
  src/index.ts
  src/lastValue.ts
  src/nthValue.ts
  src/toArray.ts
  src/toPromise.ts
  test/ICW.spec.js
  test/firstValue.spec.js
  test/lastValue.spec.js
  test/nthValue.spec.js
  test/suites/runFirstValueSuite.js
  test/suites/runLastValueSuite.js
  test/suites/runNthValueSuite.js
  test/toPromise.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add agadoo
  package-lock.json
  package.json
Due: prettier --list-different

feat: add sideEffects field to package.json
  package.json
Due: prettier --list-different

fix: add isString
  src/__internal__/isString.ts
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

build: fix over-aggressive ignore files
  .eslintignore
  .gitignore
Due: none

Improve tree shaking (#39)
  package-lock.json
  package.json
Due: prettier --list-different

Replace toPromise with firstValue, lastValue and nthValue (#38)
  src/ICW.ts
  src/__internal__/isString.ts
  src/firstValue.ts
  src/index.ts
  src/lastValue.ts
  src/nthValue.ts
  src/toArray.ts
  src/toPromise.ts
  test/ICW.spec.js
  test/firstValue.spec.js
  test/lastValue.spec.js
  test/nthValue.spec.js
  test/suites/runFirstValueSuite.js
  test/suites/runLastValueSuite.js
  test/suites/runNthValueSuite.js
  test/toPromise.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

refactor: reorganize imports
  src/ICW.ts
  src/index.ts
  src/toArray.ts
  test/ICW.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

chore: add plop
  .eslintignore
  .gitignore
  package-lock.json
  package.json
  plop-templates/eager-test-suite.hbs
  plop-templates/icw-method.hbs
  plop-templates/lazy-test-suite.hbs
  plop-templates/standalone-method.hbs
  plop-templates/standalone-test.hbs
  plop-templates/static-test-suite.hbs
  plopfile.js
  test/ICW.spec.js
Due: eslint, prettier --list-different

Add support for plop (#40)
  .eslintignore
  .gitignore
  package-lock.json
  package.json
  plop-templates/eager-test-suite.hbs
  plop-templates/icw-method.hbs
  plop-templates/lazy-test-suite.hbs
  plop-templates/standalone-method.hbs
  plop-templates/standalone-test.hbs
  plop-templates/static-test-suite.hbs
  plopfile.js
  src/ICW.ts
  src/index.ts
  src/toArray.ts
  test/ICW.spec.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests, prettier --list-different

test: rewrite tests to support IterableLike input
  test/__hooks__/setupTestFramework.js
  test/helpers/ArrayLike.js
  test/helpers/sum.js
  test/matchers/__snapshots__/toEagerlyConsumeWrappedIterable.spec.js.snap
  test/matchers/__snapshots__/toLazilyConsumeWrappedIterable.spec.js.snap
  test/matchers/toEagerlyConsumeWrappedIterable.js
  test/matchers/toEagerlyConsumeWrappedIterable.spec.js
  test/matchers/toLazilyConsumeWrappedAsyncIterable.spec.js
  test/matchers/toLazilyConsumeWrappedIterable.js
  test/matchers/toLazilyConsumeWrappedIterable.spec.js
  test/suites/runDrainSuite.js
  test/suites/runEverySuite.js
  test/suites/runFilterSuite.js
  test/suites/runFirstSuite.js
  test/suites/runForEachSuite.js
  test/suites/runFromSuite.js
  test/suites/runLastSuite.js
  test/suites/runMapSuite.js
  test/suites/runNthSuite.js
  test/suites/runReduceSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
  test/suites/runSkipSuite.js
  test/suites/runSkipWhileSuite.js
  test/suites/runSomeSuite.js
  test/suites/runTailSuite.js
  test/suites/runTakeSuite.js
  test/suites/runTakeWhileSuite.js
  test/suites/runTapSuite.js
  test/suites/runToArraySuite.js
  test/suites/runWithIndexSuite.js
Due: eslint

refactor: rename params
  src/reduce.ts
  src/tap.ts
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

chore: update plopfile and templalates
  plop-templates/eager-test-suite.hbs
  plop-templates/lazy-test-suite.hbs
  plopfile.js
Due: eslint

feat: add indexOf
  src/ICW.ts
  src/__internal__/isStrictEqual.ts
  src/index.ts
  src/indexOf.ts
  test/ICW.spec.js
  test/indexOf.spec.js
  test/suites/runIndexOfSuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

feat: add lastIndexOf
  src/ICW.ts
  src/__internal__/isSameValueZero.ts
  src/index.ts
  src/lastIndexOf.ts
  test/ICW.spec.js
  test/lastIndexOf.spec.js
  test/suites/runLastIndexOfSuite.js
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

test: improve StrictEqual l tests for indexOf and lastIndexOf
  test/suites/runIndexOfSuite.js
  test/suites/runLastIndexOfSuite.js
Due: eslint

chore(travis): only build master branch
  .travis.yml
Due: prettier --list-different

fix: remove isSameValueZero
  src/__internal__/isSameValueZero.ts
Due: eslint, cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests

Path conditions:
  eslint: any of: *.{js,ts}
  cross-env CI=true jest --reporters jest-silent-reporter --bail --findRelatedTests: any of: src/**/*
  prettier --list-different: any of: *.{json,md,yml}
