Repository bdchauvette/icw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

refactor: rename AsyncDelegator to DelegatingAsyncIterable
  src/ICW.ts
  src/__internal__/DelegatingAsyncIterable.ts
  src/from.ts
  test/from.spec.ts
  test/suites/fromSuite.ts
Due: eslint

refactor: simplify test suites
  src/ICW.ts
  test/ICW.spec.ts
  test/__snapshots__/ICW.spec.ts.snap
  test/__snapshots__/from.spec.ts.snap
  test/from.spec.ts
  test/of.spec.ts
  test/suites/runFromSuite.ts
  test/suites/runOfSuite.ts
Due: eslint

feat: add map, consume, and withIndex
  src/ICW.ts
  src/consume.ts
  src/map.ts
  src/withIndex.ts
  test/ICW.spec.ts
  test/consume.spec.ts
  test/helpers/noop.ts
  test/helpers/toUpperCase.ts
  test/map.spec.ts
  test/suites/runConsumeSuite.ts
  test/suites/runMapSuite.ts
  test/suites/runWithIndexSuite.ts
  test/withIndex.spec.ts
Due: eslint

chore: add codecov integration to travis
  .travis.yml
Due: prettier

docs: update README
  README.md
Due: prettier

docs: replace sailboat icon in README
  README.md
  assets/sailboat.png
  assets/sailboat.svg
Due: prettier

chore: update devDependencies
  package-lock.json
  package.json
Due: prettier

chore: fix travis config
  .travis.yml
Due: prettier

chore: really fix travis config
  .travis.yml
Due: prettier

feat: add filter and reject
  src/ICW.ts
  src/filter.ts
  src/reject.ts
  src/types.ts
  test/ICW.spec.ts
  test/filter.spec.ts
  test/helpers/isEven.ts
  test/reject.spec.ts
  test/suites/runFilterSuite.ts
  test/suites/runRejectSuite.ts
Due: eslint

refactor: DRY out ICW tests
  test/ICW.spec.ts
  test/__snapshots__/ICW.spec.ts.snap
Due: eslint

refactor: clean up typings and imports
  src/ICW.ts
  src/map.ts
Due: eslint

chore: fix target for main build
  tsconfig.json
Due: prettier

chore: add insert_final_newline to EditorConfig
  .editorconfig
Due: none

chore: update build target dir
  .gitignore
  package.json
  scripts/clean.js
Due: eslint, prettier

chore: add .npmignore
  .npmignore
Due: none

chore: remove test:dom script
  package.json
Due: prettier

refactor: remove DelegatingAsyncIterable
  src/ICW.ts
  src/__internal__/DelegatingAsyncIterable.ts
  src/from.ts
  test/from.spec.ts
  test/suites/runFromSuite.ts
Due: eslint

feat: add scan
  src/ICW.ts
  src/scan.ts
  test/ICW.spec.ts
  test/helpers/sum.ts
  test/scan.spec.ts
  test/suites/runScanSuite.ts
Due: eslint

docs: replace sailboat PNG with SVG
  README.md
Due: prettier

fix: improve typings for ICW#map
  src/ICW.ts
Due: eslint

feat: remove generic types for `this`
  src/ICW.ts
  src/filter.ts
  src/map.ts
  src/reject.ts
Due: eslint

refactor: remove type aliases
  src/ICW.ts
  src/consume.ts
  src/filter.ts
  src/from.ts
  src/map.ts
  src/reject.ts
  src/scan.ts
  src/types.ts
  src/withIndex.ts
  test/ICW.spec.ts
Due: eslint

feat: remove `return` statement from delegating iterables
  src/ICW.ts
  src/from.ts
Due: eslint

refactor: swich to function declarations
  .eslintrc.json
  src/__internal__/isArrayLike.ts
  src/__internal__/isAsyncIterable.ts
  src/__internal__/isIterable.ts
  src/consume.ts
  src/filter.ts
  src/from.ts
  src/map.ts
  src/of.ts
  src/reject.ts
  src/withIndex.ts
  test/ICW.spec.ts
  test/helpers/.eslintrc.json
  test/suites/runConsumeSuite.ts
  test/suites/runFilterSuite.ts
  test/suites/runFromSuite.ts
  test/suites/runMapSuite.ts
  test/suites/runOfSuite.ts
  test/suites/runRejectSuite.ts
  test/suites/runScanSuite.ts
  test/suites/runWithIndexSuite.ts
Due: eslint, prettier

feat: rename consume to drain
  src/ICW.ts
  src/drain.ts
  test/ICW.spec.ts
  test/consume.spec.ts
  test/drain.spec.ts
  test/suites/runDrainSuite.ts
  test/suites/runFilterSuite.ts
  test/suites/runMapSuite.ts
  test/suites/runRejectSuite.ts
  test/suites/runScanSuite.ts
Due: eslint

refactor: remove @ts-ignore in drain
  src/drain.ts
Due: eslint

fix: use correct module field in package.json
  package.json
Due: prettier

refactor: import test dependencies from `index` file
  src/index.ts
  test/ICW.spec.ts
  test/drain.spec.ts
  test/filter.spec.ts
  test/from.spec.ts
  test/map.spec.ts
  test/of.spec.ts
  test/reject.spec.ts
  test/scan.spec.ts
  test/withIndex.spec.ts
Due: eslint

feat: add forEach
  src/ICW.ts
  src/forEach.ts
  src/index.ts
  test/ICW.spec.ts
  test/forEach.spec.ts
  test/suites/runForEachSuite.ts
Due: eslint

feat: don't await callback in forEach
  src/forEach.ts
Due: eslint

refactor: update test descriptions
  test/suites/runFilterSuite.ts
  test/suites/runForEachSuite.ts
  test/suites/runMapSuite.ts
  test/suites/runRejectSuite.ts
Due: eslint

refactor: rename noop helper param
  test/helpers/noop.ts
Due: eslint

test: add tests for lazy / eager consumption
  test/suites/runDrainSuite.ts
  test/suites/runFilterSuite.ts
  test/suites/runForEachSuite.ts
  test/suites/runMapSuite.ts
  test/suites/runRejectSuite.ts
  test/suites/runScanSuite.ts
  test/suites/runWithIndexSuite.ts
Due: eslint

test: convert tests from TypeScript to plain JavaScript
  .eslintrc.json
  jest.config.js
  test/ICW.spec.js
  test/__snapshots__/ICW.spec.js.snap
  test/__snapshots__/from.spec.js.snap
  test/drain.spec.js
  test/filter.spec.js
  test/forEach.spec.js
  test/from.spec.js
  test/helpers/isEven.js
  test/helpers/isEven.ts
  test/helpers/noop.js
  test/helpers/noop.ts
  test/helpers/sum.js
  test/helpers/sum.ts
  test/helpers/toUpperCase.js
  test/helpers/toUpperCase.ts
  test/map.spec.js
  test/of.spec.js
  test/reject.spec.js
  test/scan.spec.js
  test/suites/runDrainSuite.js
  test/suites/runFilterSuite.js
  test/suites/runForEachSuite.js
  test/suites/runFromSuite.js
  test/suites/runMapSuite.js
  test/suites/runOfSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
  test/suites/runWithIndexSuite.js
  test/withIndex.spec.js
  tsconfig.json
  tsconfig.test.json
Due: eslint, prettier

test: update helpers
  test/helpers/.eslintrc.json
  test/helpers/isEven.js
  test/helpers/noop.js
  test/helpers/sum.js
  test/helpers/toAsync.js
  test/helpers/toUpperCase.js
  test/suites/runFilterSuite.js
  test/suites/runForEachSuite.js
  test/suites/runMapSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
Due: eslint, prettier

feat: add tap
  src/ICW.ts
  src/index.ts
  src/tap.ts
  test/ICW.spec.js
  test/suites/runTapSuite.js
  test/tap.spec.js
Due: eslint

test: refactor laziness tests
  test/suites/runDrainSuite.js
  test/suites/runFilterSuite.js
  test/suites/runForEachSuite.js
  test/suites/runMapSuite.js
  test/suites/runRejectSuite.js
  test/suites/runScanSuite.js
  test/suites/runTapSuite.js
  test/suites/runWithIndexSuite.js
Due: eslint

refactor: fix import sort order for ICW
  src/ICW.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{json,md,yml}
